.classCation ul li:hover { color: #666; }

.panel-cm { max-width: 640px; width: 100%; z-index: 2001; height: 100%; display: none; position: fixed; bottom: 0; right: 0; margin: 0 auto; }

    .panel-cm .mask { background-color: #000; height: 100%; opacity: 0.7; position: absolute; width: 100%; z-index: 1; }



    .panel-cm .panel-content { background-color: #ffffff; bottom: 0; left: 0; position: absolute; width: 100%; z-index: 2; }

    .panel-cm .g-item { background-color: #fafafa; padding: 12px 3.125% 10px; }

.dib-wrap { font-size: 0; }

.panel-cm .img-wrap::before { content: ""; display: block; }

.panel-cm .g-item .dib { vertical-align: middle; }

.panel-cm .img-wrap { margin-right: 2.66667%; width: 13.3333%; }

.img-wrap { border: 1px solid #eeeeee; background-position: center center; background-size: cover; overflow: hidden; }

.dib { display: inline-block; font-size: 14px; vertical-align: top; }

.panel-cm .g-item .dib { vertical-align: middle; }

.panel-cm .g-mid { width: 70.6667%; }

.dib { display: inline-block; font-size: 12px; vertical-align: top; }

.panel-cm .g-title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 5px; }

.panel-cm .g-item .price { color: #cc3333; font-size: 12px; }

.price i { font-style: normal; margin-right: 2px; }

.price b { font-weight: normal; }

.panel-cm .g-item .dib { vertical-align: middle; }

.panel-cm .g-mid { width: 70.6667%; }

.dib { display: inline-block; font-size: 14px; vertical-align: top; }

.panel-cm .cm-content { background-color: #ffffff; max-height: 300px; overflow-y: auto; padding: 17px 3.125% 4px; }

    .panel-cm .cm-content dl { line-height: 1; }

    .panel-cm .cm-content dt { font-size: 12px; margin-bottom: 10px; }

    .panel-cm .cm-content dd { font-size: 0; margin-bottom: 7px; }

        .panel-cm .cm-content dd > label.sel::after { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPJJREFUeNrE1D0OAUEYxvE10XAZiU6JQuHjJg6g4hLOIaEVrVqHAygcAB3PJKYQu7Pvx3xM8k+2++2+s3kb92JRZDpLkwtGK5MLtg8mF5wa/4FT4n9wKrwUToFXwrFxLxwTr4Vj4SQ4Bk6GQ+MsOCTOhkPhIjgELoa1uArW4Fz4jV4hcAk8R2P00OBSeI2O6CTFNXALbVBPgvvgPboS4JHkzn2wHeUM9dGFA1PwulF3vqO8oQE6U2F7mso7bqMdmqID6qInBfZ9Oefnci8w5MBVuGRz2RfYogkVLhu7ZmW6CYjWq3pXS3d7ctjhWWB7PgIMAOqyQwQCTJqnAAAAAElFTkSuQmCC"); background-position: center center; background-repeat: no-repeat; background-size: contain; bottom: 0; content: ""; display: block; height: 15px; position: absolute; right: 0; width: 15px; z-index: 2; }

        .panel-cm .cm-content dd > label.sel { border-color: #cc3333; color: #cc3333; }

        .panel-cm .cm-content dd > label { background-color: #ffffff; border: 1px solid #eeeeee; border-radius: 2px; color: #666666; display: inline-block; font-size: 12px; line-height: 30px; margin-bottom: 10px; margin-right: 10px; min-width: 90px; padding: 0 4px; position: relative; text-align: center; }

.clearfix::after { clear: both; content: ""; display: block; height: 0; visibility: hidden; width: 0; }

.panel-cm .cm-amount { border-top: 1px solid #eeeeee; font-size: 12px; height: 48px; line-height: 48px; padding: 0 3.125%; }

.right { float: right; }

.panel-cm .amount-bar { background-color: #fff; }

.amount-bar { border: 1px solid #eeeeee; border-radius: 2px; display: inline-block; height: 42px; vertical-align: middle; }

.dib-wrap { font-size: 0; }

ul, ol, li { list-style: outside none none; }

.amount-bar .btn-minus.disabled { background-color: #eee; }

.amount-bar .btn-add.disabled { background-color: #eee; }

.amount-bar .btn-minus { border-right: 1px solid #eeeeee; }

.amount-bar > li { line-height: 0; min-width: 42px; text-align: center; }

.dib { display: inline-block; font-size: 14px; vertical-align: top; }

.amount-bar .btn-minus.disabled .icon { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhBAMAAAClyt9cAAAAD1BMVEUAAADJycnJycnJycnJyclLHN5DAAAABHRSTlMA3NMzIsVdBAAAAB5JREFUKM9jGMnAyAUFOBkwiLigAgFMESy6RgESAABMahD5gCBWdQAAAABJRU5ErkJggg=="); }

.amount-bar .btn-minus .icon { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhBAMAAAClyt9cAAAAD1BMVEUAAACampqampqampqampoQ0ltTAAAABHRSTlMA3NMzIsVdBAAAAB5JREFUKM9jGMnAyAUFOBkwiLigAgFMESy6RgESAABMahD5gCBWdQAAAABJRU5ErkJggg=="); background-position: center center; background-repeat: no-repeat; background-size: contain; display: inline-block; height: 42px; width: 17px; }

em, i { font-style: normal; }

.amount-bar .amount-val { line-height: 40px; }

.amount-bar > li { line-height: 0; min-width: 42px; text-align: center; }

.dib { display: inline-block; font-size: 14px; vertical-align: top; }

ul, ol, li { list-style: outside none none; }

.amount-bar .btn-add { border-left: 1px solid #eeeeee; }

.amount-bar > li { line-height: 0; min-width: 42px; text-align: center; }

.dib { display: inline-block; font-size: 14px; vertical-align: top; }

.panel-cm .cm-foot { border-top: 1px solid #eeeeee; padding: 16px 10% 13px; }

    .panel-cm .cm-foot .btn { border: 0 none; border-radius: 4px; display: inline-block; font-size: 14px; line-height: 40px; text-align: center; width: 100%; }

.btn, a.btn { background-color: #cc3333; border: 0 none; border-radius: 3px; color: #ffffff; display: inline-block; font-size: 14px; line-height: 29px; padding: 0 17px; }

.amount-bar .btn-add { border-left: 1px solid #eeeeee; }

.amount-bar > li { line-height: 0; min-width: 42px; text-align: center; }

.dib { display: inline-block; font-size: 14px; vertical-align: top; }

.amount-bar .btn-add .icon { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhBAMAAAClyt9cAAAAD1BMVEUAAACampqampqampqampoQ0ltTAAAABHRSTlMA29IzPpF6wAAAADRJREFUKM9jgAJmQQMGVMDkooAmwuLiMLxEjFxQgJMBg4gLKhDAFMHUNej8RXMRRNrATD8AJtMflXoReL0AAAAASUVORK5CYII="); background-position: center center; background-repeat: no-repeat; background-size: contain; display: inline-block; height: 40px; width: 17px; }

em, i { font-style: normal; }

.panel-cm .g-item .dib { vertical-align: middle; }

.panel-cm .close { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAA1CAYAAADh5qNwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaVJREFUeNrc2j1KBEEQBeDxuQgeQDASjAy8xB5iL+EpFgwNJhI3M/YYgpfQdCNhwVQwshpnlmHZmemfquoqCx50T0cfNR0U9Mnj5rn5J3VG+QkLDD5eUS6dglaU986wR4XNG+XVISyAXijX3XqPCm37ptw4g/WgU8o9pR2iPilLyocj2CFo3R8M75Qn2CjoEOUFNgk6hrIOmwWNoazCokBTKGuwaNAcygosCRSDqg1LBsWiasGyQCkobVg2KBWlBSsC5aCkYcWgXJQUjAVUguKGsYFKUVwwVhAHqhTGDuJC5cJEQJyoVJgYiBsVCxMFSaDmYOIgKdQY7E4DJIk6BnvSAEmjelg72O8oG+l5RRq16joU6otyoTG2QBg0vEO3WvMYlEBrzXkMSiDVQROKIDUYlEEqMFQAicNQCSQKQ0WQGAyVQSIwGACxw2AExAqDIRAbDMZALDAYBBXDYBRUBINhUDYMxkFZMDgAJcPgBJQEgyNQNAzOQFEwOATNwgIqvGh8cAaahC2av7d+y65bbeOvelgAnYcmLbqDrVPQISz8ddtfAQYAwbv4BzFjGkgAAAAASUVORK5CYII="); background-position: center center; background-repeat: no-repeat; background-size: contain; height: 27px; margin-left: 5px; width: 27px; }

.dib { display: inline-block; font-size: 12px; vertical-align: top; }

.cansearch { color: #000 !important; }

.productdetail { background: #fff none repeat scroll 0 0; border-top: 1px solid #CCCCCC; height: 40px; padding: 10px 0px; width: 100%; z-index: 5; }
